* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #ffe6f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}

h1 {
  color: #ff3399;
  font-size: 2rem;
  min-height: 2em;
}

img {
  width: 60vw;
  max-width: 250px;
  height: auto;
  border-radius: 20px;
  transition: 0.3s;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
